@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,600,700,800&display=swap);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  line-height: 120%;
  /* 24px/20 */
  color: #000000;
  background-color: #FFFFFF;
  font-size: calc(16px + 4 * (100vw - 320px) / 1120);
}

.lock body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

.loaded body {
  opacity: 1;
  transition: opacity 0.3s;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 83rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.header-block__title {
  text-transform: uppercase;
}

.header-block__title--center {
  text-align: center;
}

.header-block__subtitle {
  font-size: 1.25rem;
  line-height: 120%;
}

.header-block__subtitle--center {
  text-align: center;
  font-size: calc(20px + 8 * (100vw - 320px) / 1120);
}

.header-block__subtitle--center:not(:last-child) {
  margin-bottom: 0.625rem;
}

.header-block__text {
  font-size: calc(16px + 4 * (100vw - 320px) / 1120);
  text-align: center;
  color: #73A6B1;
}

.header-block__text:not(:last-child) {
  margin-bottom: 0.625rem;
}

.title--big {
  max-width: 75rem;
  margin: 0 auto 0.9375rem;
  text-align: center;
  font-size: calc(32px + 28 * (100vw - 320px) / 1120);
  line-height: 120%;
  letter-spacing: -1.2px;
}

.title--white {
  font-size: calc(32px + 33 * (100vw - 320px) / 1120);
  color: #FFFFFF;
  max-width: 37.5rem;
  line-height: 94.9%;
  letter-spacing: -1.3px;
  font-weight: 800;
}

.title--white:not(:last-child) {
  margin-bottom: 1.25rem;
}

.button {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000;
  font-size: 1.125rem;
  line-height: 97%;
  border-radius: 5.4375rem;
  background-color: #7AE5FD;
  padding: 1.3125rem 2.1875rem;
  transition: all 0.3s ease 0s;
}

.button:hover {
  color: #FFFFFF;
  background-color: #1f535f;
}

.button--white {
  display: inline-block;
  background-color: #FFFFFF;
}

.button--fw {
  width: 100%;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #FFFFFF;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  padding-top: calc(0px + 40 * (100vw - 320px) / 1120);
  padding-bottom: calc(0px + 40 * (100vw - 320px) / 1120);
  min-height: 5.875rem;
}

.header__logo {
  position: relative;
  z-index: 5;
  height: 4.0625rem;
  flex: 0 0 4.0625rem;
}

.header__logo img {
  max-width: 100%;
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.3125rem;
  -moz-column-gap: calc(20px + 36 * (100vw - 320px) / 1120);
       column-gap: calc(20px + 36 * (100vw - 320px) / 1120);
}

.menu__link {
  color: inherit;
  font-size: 1.125rem;
  line-height: 97%;
}

.menu__link:hover {
  text-decoration: underline;
}

.icon-menu {
  display: none;
}

.footer {
  background: #F9FADF;
  padding-top: calc(40px + 10 * (100vw - 320px) / 1120);
  padding-bottom: calc(0px + 160 * (100vw - 320px) / 1120);
}

.footer__container {
  padding: 0;
}

.footer__contacts {
  display: grid;
  row-gap: 2.75rem;
  padding-bottom: calc(40px + 10 * (100vw - 320px) / 1120);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.contacts__title {
  font-size: calc(48px + 12 * (100vw - 320px) / 1120);
  text-transform: uppercase;
  line-height: 120%;
  /* 72px */
  letter-spacing: -1.2px;
}

.contacts__block {
  font-size: calc(16px + 4 * (100vw - 320px) / 1120);
}

.phone {
  max-width: 17.625rem;
  margin-bottom: calc(40px + 20 * (100vw - 320px) / 1120);
}

.phone__icon {
  display: inline-block;
  width: 2.0625rem;
  height: 2.0625rem;
  margin-bottom: 0.5625rem;
}

.phone__icon img {
  max-width: 100%;
}

.phone__number {
  color: inherit;
  font-weight: 700;
  line-height: 120%;
}

.phone__number:hover {
  text-decoration: underline;
}

.messenger__icon {
  display: inline-block;
  width: 2.0625rem;
  height: 2.0625rem;
  margin-bottom: 0.25rem;
}

.messenger__icon:not(:last-child) {
  margin-right: calc(6px + 10 * (100vw - 320px) / 1120);
}

.messenger__icon img {
  max-width: 100%;
}

.messenger__icon:hover {
  cursor: pointer;
}

.mail {
  background-color: #FFFFFF;
  padding-top: calc(40px + 20 * (100vw - 320px) / 1120);
  padding-bottom: calc(40px + 20 * (100vw - 320px) / 1120);
  padding-left: calc(20px + 40 * (100vw - 320px) / 1120);
  padding-right: calc(20px + 40 * (100vw - 320px) / 1120);
}

.mail__image {
  align-self: center;
}

.mail__image img {
  max-width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 33.75rem;
}

.form__label {
  font-size: calc(18px + 9 * (100vw - 320px) / 1120);
}

.form__label:not(:last-child) {
  margin-bottom: 3.75rem;
}

.form__input {
  display: flex;
  width: 100%;
  padding: 1.3125rem 2.6875rem;
  align-items: flex-start;
  border-radius: 61px;
  background: #F9FADF;
}

.form__input:not(:last-child) {
  margin-bottom: 1.875rem;
}

.form__input::-moz-placeholder {
  font-size: calc(16px + 4 * (100vw - 320px) / 1120);
}

.form__input::placeholder {
  font-size: calc(16px + 4 * (100vw - 320px) / 1120);
}

.no-webp .hero{
  background: url(../img/hero/hero-bgd.png) center 5.875rem/cover no-repeat; }

.hero {
  min-height: 100vh;
}

.hero__container {
  padding-top: 21.5rem;
  padding-bottom: calc(45px + 155 * (100vw - 320px) / 1120);
  padding-left: calc(15px + 20 * (100vw - 320px) / 1120);
}

.hero__header {
  max-width: 50%;
}

.hero__header p {
  max-width: 27.5rem;
}

.hero__header:not(:last-child) {
  margin-bottom: 1.25rem;
}

.help__container {
  padding-top: calc(60px + 100 * (100vw - 320px) / 1120);
  padding-bottom: calc(30px + 130 * (100vw - 320px) / 1120);
}

.help__header {
  margin-bottom: calc(60px + 100 * (100vw - 320px) / 1120);
}

.help__types {
  display: grid;
  gap: calc(40px + 10 * (100vw - 320px) / 1120);
  margin-bottom: 2.5rem;
}

.help__button {
  display: block;
  width: 17.625rem;
  margin: 0 auto;
}

.type-help__article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2.5rem;
  -moz-column-gap: 3.875rem;
       column-gap: 3.875rem;
  border-radius: 0.625rem;
  background: #F1FDFF;
  padding: 2.5rem 3.875rem;
}

.type-help__content {
  display: grid;
  grid-template-columns: auto;
  align-content: center;
  gap: 0.625rem;
}

.type-help__title {
  font-size: calc(28px + 18 * (100vw - 320px) / 1120);
  line-height: 120%;
  /* 36px/30 */
  letter-spacing: -0.0375rem;
  text-transform: uppercase;
}

.type-help__subtitle {
  font-size: calc(16px + 4 * (100vw - 320px) / 1120);
  font-weight: 600;
  line-height: 120%;
}

.type-help__text {
  font-size: calc(16px + 4 * (100vw - 320px) / 1120);
  line-height: 120%;
}

.type-help__image {
  max-width: 36.5625rem;
  border-radius: 10px;
  overflow: hidden;
}

.type-help__image img {
  max-width: 100%;
}

.mission {
  padding: 0rem 0.9375rem 4.375rem;
}

.mission__container {
  background-color: #F1FDFF;
  padding: 2.5rem 0rem 0rem;
  border-radius: 0.625rem;
}

.mission__text {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-bottom: 1.625rem;
  line-height: 120%;
  /* 32.725px */
}

.mission__text--pc {
  font-size: calc(18px + 9 * (100vw - 320px) / 1120);
}

.mission__text--mobile {
  font-size: 1.25rem;
}

.mission__image img {
  max-width: 100%;
}

.support__container {
  padding-bottom: calc(40px + 120 * (100vw - 320px) / 1120);
}

.support__header {
  margin-bottom: 1.0625rem;
}

.support__header--pc {
  margin-right: auto;
  margin-left: auto;
  max-width: 40rem;
  margin-bottom: 3.125rem;
}

.support__header--mobile {
  margin-bottom: 4.375rem;
}

.support__counter {
  margin-bottom: 3.125rem;
  text-align: center;
}

.support__counter span {
  display: inline-block;
  box-sizing: content-box;
  padding-left: calc(2px + 11 * (100vw - 320px) / 1120);
  padding-right: calc(2px + 11 * (100vw - 320px) / 1120);
  font-size: calc(48px + 12 * (100vw - 320px) / 1120);
  line-height: 120%;
  /* 72px */
  letter-spacing: -1.2px;
  text-transform: uppercase;
}

.support__counter span:not(:last-child) {
  border-right: 0.125rem solid #73A6B1;
}

.support__button {
  display: block;
  max-width: 17.5rem;
  margin: 0 auto;
}

.support__button--pc {
  margin-bottom: 3.125rem;
}

.support__button--mobile {
  margin-bottom: 1.25rem;
}

@media (min-width: 29.99875em) {
  .mission__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    padding: 4.375rem 3.875rem;
    border-radius: 0rem;
  }

  .mission__text {
    max-width: 35.625rem;
  }

  .mission__image {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: -4%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .mission__image img {
    grid-column: 2/3;
    justify-self: end;
  }
}

@media (min-width: 47.99875em) {
  .footer__contacts {
    padding-left: 0rem;
    padding-right: 0rem;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(20px + 73 * (100vw - 320px) / 1120);
  }

  .contacts__title {
    text-align: center;
  }

  .mail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(20px + 73 * (100vw - 320px) / 1120);
  }

  .form__label:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .mission__text--mobile {
    display: none;
  }

  .support__header--mobile {
    display: none;
  }

  .support__button--mobile {
    display: none;
  }
}

@media (max-width: 55em) {
  .menu__button {
    display: none;
  }
}

@media (max-width: 61.99875em) {
  .type-help__article {
    grid-template-columns: auto;
    padding: 2.5rem 0.9375rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    padding: 12.5rem 0.9375rem 4.0625rem 0.9375rem;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2.5rem;
    transition: all 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5.75rem;
    background-color: #FFFFFF;
    z-index: 2;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__list {
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    font-size: 3rem;
    text-transform: uppercase;
    row-gap: 1.875rem;
  }

  .menu__button {
    display: inline-block;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    background-color: transparent;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.125rem;
    right: 0;
    background-color: #7AE5FD;
    transition: all 0.3s ease 0s;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .icon-menu._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .icon-menu._active::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }

  .icon-menu._active::after {
    top: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }

  .mail__image {
    margin-bottom: 2.5rem;
  }

  .no-webp .hero{
    background: url(../img/hero/hero-bgd-min.png) center 3rem/cover no-repeat; }

  .hero__container {
    padding-top: 36.5rem;
  }

  .help__button {
    display: none;
  }

  .mission__text--pc {
    display: none;
  }

  .support__header--pc {
    display: none;
  }

  .support__counter {
    margin-bottom: 4.1875rem;
  }

  .support__button--pc {
    display: none;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .header-block__subtitle--center {
    text-align: left;
  }

  .header-block__text {
    text-align: left;
  }

  .title--big {
    text-align: left;
  }
}

.webp .hero{ background: url(../img/hero/hero-bgd.webp) center 5.875rem/cover no-repeat; }

@media (max-width: 47.99875em){

  .webp .hero{ background: url(../img/hero/hero-bgd-min.webp) center 3rem/cover no-repeat; }
}